Repository Veritas-Calculus/vc-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, web-eslint, web-prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Use system default Python 3 to avoid compatibility issues
default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-private-key

  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'go fmt ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-imports
        name: go-imports
        entry: bash -c 'export PATH="$HOME/go/bin:$PATH" && goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: bash -c 'go mod tidy -compat=1.21'
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: {max: 120}}}']
        files: \.(yaml|yml)$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Local hooks for web development (using local npm)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'export CGO_ENABLED=0 && export PATH="$HOME/go/bin:$PATH" && golangci-lint run --config .golangci.yml --timeout=5m ./...'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

      - id: web-eslint
        name: Web ESLint
        entry: bash -c 'cd web/console && npm run lint -- --quiet'
        language: system
        files: ^web/console/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: web-prettier
        name: Web Prettier Check
        entry: bash -c 'cd web/console && npm run format -- --check'
        language: system
        files: ^web/console/.*\.(ts|tsx|js|jsx|json|css|scss)$
        pass_filenames: false

fix: use NODE_NAME env var for host display and soften health monitor
  internal/compute/sysinfo.go
  internal/management/host/service.go
Due: go-fmt, go-imports, golangci-lint

refactor: remove remaining Unicode symbols from frontend pages
  web/console/src/components/ui/DataTable.tsx
  web/console/src/features/audit/ComplianceAudit.tsx
  web/console/src/features/baremetal/BareMetal.tsx
  web/console/src/features/compute/InstanceDetail.tsx
  web/console/src/features/domains/Domains.tsx
  web/console/src/features/selfheal/SelfHealing.tsx
  web/console/src/features/webshell/WebShell.tsx
Due: web-eslint, web-prettier

fix: escape bare -> in JSX text with &rarr; HTML entity
  web/console/src/features/autoscale/AutoScale.tsx
  web/console/src/features/compute/Compute.tsx
  web/console/src/features/compute/Migrations.tsx
  web/console/src/features/dashboard/Dashboard.tsx
  web/console/src/features/dr/DisasterRecovery.tsx
  web/console/src/features/encryption/DataEncryption.tsx
  web/console/src/features/events/Events.tsx
  web/console/src/features/federation/Federation.tsx
  web/console/src/features/ha/HighAvailability.tsx
  web/console/src/features/kms/KeyManagement.tsx
  web/console/src/features/kubernetes/Kubernetes.tsx
  web/console/src/features/network/FlowLogs.tsx
  web/console/src/features/network/PortForwarding.tsx
  web/console/src/features/ratelimit/RateLimiting.tsx
  web/console/src/features/selfheal/SelfHealing.tsx
Due: web-eslint, web-prettier

fix: replace emoji Unicode escapes in StorageDashboard.tsx
  web/console/src/features/storage/StorageDashboard.tsx
Due: web-eslint, web-prettier

feat: add Ceph storage pool management to Primary/Secondary Storage pages
  internal/management/storage/storage_pool.go
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

docs: add comprehensive component documentation and update web API docs
  docs/ARCHITECTURE.md
  docs/components/README.md
  docs/components/compute.md
  docs/components/management.md
  docs/components/vcctl.md
  readme.md
  web/console/src/features/docs/Docs.tsx
Due: web-eslint, web-prettier

feat(console): add SummaryBox component and update global styling tokens
  web/console/src/components/ui/SummaryBox.tsx
  web/console/src/i18n/locales/zh.json
  web/console/src/lib/api.ts
  web/console/src/styles.css
  web/console/tailwind.config.ts
Due: web-eslint, web-prettier

fix(console): unify layout and core UI component theme tokens
  web/console/public/novnc.html
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/components/ToastContainer.tsx
  web/console/src/components/sidebarSections.ts
  web/console/src/components/ui/CommandPalette.tsx
  web/console/src/components/ui/DataTable.tsx
Due: web-eslint, web-prettier

fix(console): migrate infrastructure and monitoring pages to semantic tokens
  web/console/src/components/monitoring/ComponentMonitoring.tsx
  web/console/src/components/monitoring/FlameGraphViewer.tsx
  web/console/src/components/monitoring/MonitoringDashboard.tsx
  web/console/src/features/dr/DisasterRecovery.tsx
  web/console/src/features/ha/HighAvailability.tsx
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/features/monitoring/MetricsDashboard.tsx
  web/console/src/features/selfheal/SelfHealing.tsx
Due: web-eslint, web-prettier

fix(console): migrate compute, storage and network pages to semantic tokens
  web/console/src/features/compute/AffinityGroups.tsx
  web/console/src/features/compute/DeletionProgress.tsx
  web/console/src/features/compute/GPUResources.tsx
  web/console/src/features/compute/InstanceDetail.tsx
  web/console/src/features/compute/ManagedTiDB.tsx
  web/console/src/features/network/Firewall.tsx
  web/console/src/features/network/FlowLogs.tsx
  web/console/src/features/network/LoadBalancers.tsx
  web/console/src/features/network/LoadBalancersL7.tsx
  web/console/src/features/network/Network.tsx
  web/console/src/features/network/PublicIPs.tsx
  web/console/src/features/network/QoS.tsx
  web/console/src/features/network/SecurityGroups.tsx
  web/console/src/features/storage/SnapshotSchedules.tsx
  web/console/src/features/storage/Storage.tsx
  web/console/src/features/storage/StorageClasses.tsx
  web/console/src/features/storage/StorageDashboard.tsx
  web/console/src/features/storage/VolumeDetail.tsx
Due: web-eslint, web-prettier

fix(console): complete theme migration across all remaining feature pages
  web/console/src/features/accounts/Accounts.tsx
  web/console/src/features/audit/ComplianceAudit.tsx
  web/console/src/features/auth/Login.tsx
  web/console/src/features/autoscale/AutoScale.tsx
  web/console/src/features/baremetal/BareMetal.tsx
  web/console/src/features/billing/UsageBilling.tsx
  web/console/src/features/catalog/ServiceCatalog.tsx
  web/console/src/features/dashboard/Dashboard.tsx
  web/console/src/features/dns/DNSManagement.tsx
  web/console/src/features/domains/Domains.tsx
  web/console/src/features/encryption/DataEncryption.tsx
  web/console/src/features/events/Events.tsx
  web/console/src/features/federation/Federation.tsx
  web/console/src/features/hpc/GPUResources.tsx
  web/console/src/features/hpc/HPC.tsx
  web/console/src/features/hpc/HPCClusters.tsx
  web/console/src/features/hpc/HPCJobs.tsx
  web/console/src/features/iam/ABACPolicies.tsx
  web/console/src/features/iam/ServiceAccounts.tsx
  web/console/src/features/kms/KeyManagement.tsx
  web/console/src/features/kubernetes/Kubernetes.tsx
  web/console/src/features/objectstorage/ObjectStorage.tsx
  web/console/src/features/orchestration/Orchestration.tsx
  web/console/src/features/orchestration/StackDrift.tsx
  web/console/src/features/platform/PlatformSettings.tsx
  web/console/src/features/ratelimit/RateLimiting.tsx
  web/console/src/features/rbac/RBAC.tsx
  web/console/src/features/router/Router.tsx
  web/console/src/features/tools/Webhooks.tsx
  web/console/src/features/vpn/VPNManagement.tsx
  web/console/src/features/webshell/SessionList.tsx
  web/console/src/features/webshell/SessionReplay.tsx
  web/console/src/features/webshell/WebShell.tsx
Due: web-eslint, web-prettier

fix(mgmt): resolve cluster API 500 and standardize database table names
  internal/management/monitoring/dashboard.go
  internal/management/network/service.go
  internal/management/selfheal/service.go
  internal/management/tag/service.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): resolve failing workflows and 32 lint violations
  .github/workflows/pre-commit.yml
  docs/ARCHITECTURE.md
  docs/components/management.md
  docs/components/vcctl.md
  internal/management/abac/service.go
  internal/management/compute/service.go
  internal/management/elasticsearch/service.go
  internal/management/flowlogs/service_test.go
  internal/management/hpc/slurm_client.go
  internal/management/identity/access_analytics.go
  internal/management/identity/groups.go
  internal/management/identity/policy_conditions.go
  internal/management/identity/policy_evaluator.go
  internal/management/middleware/auth.go
  internal/management/preemptible/service.go
  internal/management/redis/service.go
  internal/management/scheduler/service.go
  internal/management/secretsmanager/service.go
  pkg/airgap/airgap.go
  pkg/dlock/lock.go
  pkg/mq/mq.go
  web/console/src/features/infrastructure/Infrastructure.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(security): resolve 137 CodeQL alerts — SSRF, integer conversion, clear-text logging
  internal/compute/vm/qemu/driver.go
  internal/management/abac/service.go
  internal/management/alerting/service.go
  internal/management/budget/service.go
  internal/management/dbaas/service.go
  internal/management/elasticsearch/service.go
  internal/management/fileshare/service.go
  internal/management/flowlogs/service.go
  internal/management/gpuscheduler/service.go
  internal/management/ha/service.go
  internal/management/identity/groups.go
  internal/management/identity/service_account.go
  internal/management/invoice/service.go
  internal/management/launchtemplate/service.go
  internal/management/loadbalancer/service.go
  internal/management/natgateway/service.go
  internal/management/objectstorage/service.go
  internal/management/organization/service.go
  internal/management/peering/service.go
  internal/management/placement/service.go
  internal/management/redis/service.go
  internal/management/registry/service.go
  internal/management/secretsmanager/service.go
  internal/management/stackdrift/service.go
  internal/management/storageqos/service.go
  internal/management/tidb/service.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): pre-commit markdownlint + golangci-lint Go version
  .github/workflows/pre-commit.yml
  docs/components/compute.md
Due: none

fix(lint): resolve remaining 15 golangci-lint issues
  internal/management/hpc/slurm_client.go
  internal/management/identity/service_account.go
  internal/management/scheduler/service.go
  internal/management/stackdrift/service.go
  internal/management/tidb/service.go
  pkg/iam/actions.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): resolve frontend test and Go test failures
  internal/management/objectstorage/s3_lifecycle.go
  internal/management/objectstorage/s3_versioning.go
  internal/management/objectstorage/service.go
  internal/management/registry/registry_test.go
  web/console/src/features/compute/Instances.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(test): add stub hosts/ports tables to compute test DB
  internal/management/compute/compute_test.go
Due: go-fmt, go-imports, golangci-lint

fix(test): resolve TestRebuildInstance_Success race condition
  internal/management/compute/lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint

refactor(test): migrate compute tests from SQLite to PostgreSQL
  internal/management/compute/compute_test.go
  internal/management/compute/lifecycle_test.go
  internal/management/compute/migration_test.go
Due: go-fmt, go-imports, golangci-lint

fix(security): resolve 4 critical SSRF code scanning alerts (CWE-918)
  internal/compute/handler_image.go
  internal/management/objectstorage/service.go
Due: go-fmt, go-imports, golangci-lint

feat: P6 code governance + P7 developer ecosystem
  .github/workflows/code-quality.yml
  .gitignore
  Makefile
  cmd/vc-management/main.go
  cmd/vcctl/image.go
  cmd/vcctl/main.go
  docs/api-client-reference.md
  internal/compute/controller_client.go
  internal/compute/handler_instance_lifecycle.go
  internal/compute/handler_instance_ops.go
  internal/compute/handler_instance_query.go
  internal/compute/vm/driver_qemu.go
  internal/compute/vm/driver_qemu_lifecycle.go
  internal/compute/vm/driver_qemu_status.go
  internal/management/compute/handler_instance.go
  internal/management/compute/instance_lifecycle.go
  internal/management/compute/migration.go
  internal/management/gateway/handlers.go
  internal/management/gateway/service.go
  internal/management/management.go
  internal/management/modules_core.go
  internal/management/modules_optional.go
  internal/management/network/driver_ovn.go
  internal/management/network/driver_ovn_router.go
  pkg/appconfig/config.go
  sdk/vcstack/client.go
  sdk/vcstack/resources.go
  sdk/vcstack/resources_test.go
  terraform-provider-vcstack/internal/provider/provider.go
  terraform-provider-vcstack/internal/provider/resources.go
  tests/integration/compute_test.go
  tests/integration/gateway_test.go
  tests/integration/image_test.go
  tests/integration/network_test.go
  web/console/e2e/app-shell.spec.ts
  web/console/e2e/compute.spec.ts
  web/console/e2e/login-interactions.spec.ts
  web/console/e2e/network.spec.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(security): harden auth, WebShell, CORS, and HMAC across 12 findings
  internal/management/gateway/webshell.go
  internal/management/identity/service.go
  internal/management/identity/service_account.go
  internal/management/middleware/auth.go
Due: go-fmt, go-imports, golangci-lint

style(identity): align struct field formatting
  internal/management/identity/service.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): remove stale golangci-lint v1 PATH override in pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: integrate monitoring stack into docker-compose
  .env.example
  configs/alertmanager/alertmanager.yml
  docker-compose.yml
  monitoring/grafana/provisioning/datasources/influxdb.yml
  monitoring/prometheus/prometheus.yml
Due: none

refactor: rename Federation to SSO, consolidate API URLs, fix Login page
  internal/management/baremetal/baremetal_test.go
  internal/management/baremetal/service.go
  internal/management/dr/dr_test.go
  internal/management/dr/service.go
  internal/management/gateway/service.go
  internal/management/identity/federation.go
  internal/management/identity/federation_test.go
  web/console/src/App.tsx
  web/console/src/__tests__/Federation.test.tsx
  web/console/src/__tests__/smoke.test.tsx
  web/console/src/components/sidebarSections.ts
  web/console/src/features/auth/Login.tsx
  web/console/src/features/settings/SettingsIndex.tsx
  web/console/src/features/settings/sections/Idp.tsx
  web/console/src/features/sso/SSO.tsx
  web/console/src/lib/store.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

refactor: split 6 large backend files into focused modules (P4-A)
  internal/management/caas/handlers.go
  internal/management/caas/models.go
  internal/management/caas/service.go
  internal/management/encryption/handlers.go
  internal/management/encryption/models.go
  internal/management/encryption/service.go
  internal/management/ha/handlers.go
  internal/management/ha/models.go
  internal/management/ha/service.go
  internal/management/ha/worker.go
  internal/management/middleware/auth.go
  internal/management/middleware/middleware.go
  internal/management/middleware/rbac.go
  internal/management/objectstorage/handlers.go
  internal/management/objectstorage/models.go
  internal/management/objectstorage/rgw_client.go
  internal/management/objectstorage/service.go
  internal/management/orchestration/handlers.go
  internal/management/orchestration/models.go
  internal/management/orchestration/service.go
Due: go-fmt, go-imports, golangci-lint

fix: ceph build tags, network package errors, Docker ARM64 support
  Dockerfile
  docker-compose.yml
  internal/management/network/driver_ovn.go
  internal/management/network/service.go
  internal/management/storage/driver_rbd.go
  internal/management/storage/driver_rbd_stub.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): repair all 4 GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/code-quality.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security-scan.yml
  Dockerfile.build
  internal/compute/controller_client.go
  internal/compute/handler_routes.go
  internal/compute/metadata/proxy.go
  internal/compute/rbd_manager.go
  internal/compute/service.go
  internal/compute/service_firecracker.go
  internal/compute/service_instance.go
  internal/management/backup/service.go
  internal/management/compute/handler_instance.go
  internal/management/image/service.go
  internal/management/invoice/service.go
  internal/management/management.go
  internal/management/modules_core.go
  internal/management/modules_optional.go
  internal/management/monitoring/service.go
  internal/management/network/driver.go
  internal/management/network/driver_ovn.go
  internal/management/network/handlers.go
  internal/management/network/ipam.go
  internal/management/network/service.go
  internal/management/network/types.go
  internal/management/routes.go
  internal/management/scheduler/service.go
  internal/management/selfheal/service.go
  internal/management/storage/service.go
  internal/management/storage/volume_lifecycle.go
  internal/management/usage/service.go
  pkg/models/compute.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): GOTOOLCHAIN=auto for Go 1.25, fix test panics, goimports ordering
  Dockerfile
  Dockerfile.build
  internal/management/backup/service.go
  internal/management/invoice/service.go
  internal/management/network/.gitignore
  internal/management/network/service_test.go
  internal/management/selfheal/service.go
Due: go-fmt, go-imports, golangci-lint

fix(ci): fix orphaned tests, frontend assertion, Trivy exit code
  .github/workflows/security-scan.yml
  Dockerfile.build
  internal/compute/helpers_test.go
  internal/management/usage/service_test.go
  web/console/src/__tests__/api.test.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier
