Repository Veritas-Calculus/vc-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, web-eslint, web-prettier

go-fmt:
  name: go fmt
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-imports:
  name: go-imports
  entry: bash -c 'export PATH="$HOME/go/bin:$PATH" && goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  entry: bash -c 'go mod tidy -compat=1.21'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'export CGO_ENABLED=0 && export PATH="$HOME/go/bin:$PATH" && golangci-lint run --config .golangci.yml --timeout=5m ./...'
  language: system
  pass_filenames: false
  verbose: true

web-eslint:
  name: Web ESLint
  entry: bash -c 'cd web/console && npm run lint -- --quiet'
  language: system
  pass_filenames: false

web-prettier:
  name: Web Prettier Check
  entry: bash -c 'cd web/console && npm run format -- --check'
  language: system
  pass_filenames: false

fix(network): apply CloudStack-pattern improvements to network lifecycle
  internal/management/network/floating_ip.go
  internal/management/network/handlers.go
  internal/management/network/security.go
Due: go-fmt, go-imports, golangci-lint

feat(network): add node network bootstrap for end-to-end connectivity
  configs/env/node.env.example
  internal/compute/compute.go
  internal/compute/network/bootstrap.go
Due: go-fmt, go-imports, golangci-lint

feat(storage): make Ceph optional, default to local filesystem
  configs/env/node.env.example
  internal/compute/compute.go
  internal/compute/rbd_manager.go
  internal/compute/rbd_manager_nocgo.go
  internal/compute/service.go
Due: go-fmt, go-imports, golangci-lint

docs: clarify local storage is dev-only, production requires Ceph
  configs/env/node.env.example
  readme.md
Due: none

fix(config): align env var names across all config files to match code
  configs/README.md
  configs/env/controller.env.example
  configs/env/node.env.example
  configs/systemd/vc-compute.service
  configs/systemd/vc-management.service
  docs/SECURITY.md
  scripts/verify-config.sh
Due: none

refactor(config): rename env files to match binary names
  configs/README.md
  configs/env/vc-compute.env.example
  configs/env/vc-management.env.example
  docs/sentry-integration.md
  readme.md
Due: none

chore: remove all Redis references — never used by any code
  .env.example
  GEMINI.md
  configs/README.md
  configs/docker-compose.yaml.example
  configs/env/vc-management.env.example
  configs/vc-management.yaml.example
  docker-compose.dev.yml
  monitoring/prometheus/prometheus.yml
  readme.md
Due: none

feat(docker): add Dockerfile, .dockerignore, update compose and gitignore
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  docker-compose.dev.yml
  web/console/dist/assets/addon-web-links-D-NCOiOE.js
  web/console/dist/assets/main-C4E3Iucn.js
  web/console/dist/assets/main-Dsj_PH1x.css
  web/console/dist/assets/novnc-CZfb_VLC.js
  web/console/dist/assets/react-vendor-B-2j4S7D.js
  web/console/dist/assets/ui-vendor-CJfbT-UK.js
  web/console/dist/assets/utils-vendor-CVg5kGBW.js
  web/console/dist/assets/xterm-C0BCwPpi.css
  web/console/dist/config/config.js
  web/console/dist/index.html
  web/console/dist/logo-42.svg
  web/console/dist/novnc.html
Due: web-eslint, web-prettier

fix(docker): use latest images and include Ceph SDK
  Dockerfile
  Makefile
  docker-compose.dev.yml
Due: none

fix(docker): add nginx proxy, remove internal port exposures
  configs/nginx/vc-stack.conf
  docker-compose.dev.yml
Due: none

fix(docker): update PG volume mount for PostgreSQL 18+
  docker-compose.dev.yml
Due: none

fix(docker): default docker compose up starts full stack
  Makefile
  docker-compose.dev.yml
Due: none

fix(docker): rename to docker-compose.yml for default discovery
  Makefile
  docker-compose.yml
Due: none

feat(compute): implement image storage backend and missing API endpoints
  internal/management/compute/image_storage.go
  internal/management/compute/models.go
  internal/management/compute/service.go
  internal/management/gateway/service.go
  internal/management/management.go
  migrations/005_add_instance_columns.sql
  migrations/006_add_volume_attachments_audit_logs.sql
  pkg/database/migrate.go
  pkg/models/compute.go
Due: go-fmt, go-imports, golangci-lint

fix(identity): unify admin password and prevent restart overwrite
  docker-compose.yml
  internal/management/identity/service.go
Due: go-fmt, go-imports, golangci-lint

fix(frontend): resolve static asset serving and inline login errors
  cmd/vc-management/main.go
  configs/nginx/vc-stack.conf
  web/console/public/config/config.js
  web/console/src/features/auth/Login.tsx
  web/console/vite.config.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

chore(frontend): remove hardcoded seed data, fetch from API
  web/console/src/features/projects/Projects.tsx
  web/console/src/lib/api.ts
  web/console/src/lib/dataStore.ts
Due: web-eslint, web-prettier

fix(frontend): remove duplicate Images nav, fix storage labels, add DB health
  web/console/src/components/Layout.tsx
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: web-eslint, web-prettier

feat(host): add install script API and auto-registration for compute nodes
  cmd/vc-compute/main.go
  go.mod
  go.sum
  internal/compute/controller_client.go
  internal/compute/sysinfo.go
  internal/management/host/install_script.go
  internal/management/host/service.go
  internal/management/management.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat(frontend): replace static Add Host docs with interactive wizard
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: web-eslint, web-prettier

feat(host): add SSH remote deployment with SSE streaming progress
  internal/management/host/service.go
  internal/management/host/ssh_deployer.go
  web/console/src/features/infrastructure/Infrastructure.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(host): resolve registration failures and missing hosts in UI
  internal/management/host/service.go
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(host): use connecting status for new hosts and in-page delete modal
  internal/management/host/service.go
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(host): fix delete by UUID type, add test connection before register
  internal/management/host/service.go
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(compose): enable vc-compute with CONTROLLER_URL for auto-registration
  docker-compose.yml
Due: none

fix(heartbeat): connect compute heartbeat to host service
  cmd/vc-compute/main.go
  internal/compute/controller_client.go
  internal/management/host/service.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): add missing DB tables and fix startup errors
  migrations/007_add_compute_node_tables.sql
Due: none

feat(compute): seed default flavors and auto-detect KVM/TCG
  docker-compose.yml
  internal/compute/qemu_manager.go
  internal/management/compute/service.go
  migrations/008_seed_default_flavors.sql
Due: go-fmt, go-imports, golangci-lint

feat(network): enable container-internal OVS for dev environment
  Dockerfile
  internal/compute/compute.go
  internal/compute/network/bootstrap.go
  scripts/compute-entrypoint.sh
Due: go-fmt, go-imports, golangci-lint

feat(network): upgrade to full OVN overlay networking
  docker-compose.yml
  scripts/compute-entrypoint.sh
Due: none

fix(infra): resolve P0 zone/cluster/hosts architecture issues
  internal/compute/controller_client.go
  internal/management/host/service.go
  internal/management/network/handlers.go
  internal/management/network/service.go
  internal/management/scheduler/service.go
  migrations/009_fix_zone_cluster_hosts.sql
  pkg/models/host.go
Due: go-fmt, go-imports, golangci-lint

fix(infra): resolve P1 issues — auto-cleanup, gateway routes, frontend sync
  internal/management/gateway/service.go
  internal/management/host/service.go
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(infra): implement P2 — vcctl cluster commands + Clusters frontend
  cmd/vcctl/client.go
  cmd/vcctl/cluster.go
  web/console/src/features/infrastructure/Infrastructure.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: implement Phase 2-3 features with audit fixes
  internal/management/autoscale/service.go
  internal/management/backup/service.go
  internal/management/compute/affinity.go
  internal/management/compute/offerings.go
  internal/management/compute/service.go
  internal/management/compute/snapshot_schedules.go
  internal/management/config/service.go
  internal/management/domain/service.go
  internal/management/event/service.go
  internal/management/identity/handlers.go
  internal/management/identity/service.go
  internal/management/management.go
  internal/management/monitoring/dashboard.go
  internal/management/monitoring/service.go
  internal/management/network/service.go
  internal/management/network/vpc.go
  internal/management/tools/service.go
  internal/management/usage/service.go
  internal/management/vpn/service.go
  pkg/models/compute.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/accounts/Accounts.tsx
  web/console/src/features/autoscale/AutoScale.tsx
  web/console/src/features/backup/Backups.tsx
  web/console/src/features/billing/UsageBilling.tsx
  web/console/src/features/compute/AffinityGroups.tsx
  web/console/src/features/dashboard/Dashboard.tsx
  web/console/src/features/docs/Docs.tsx
  web/console/src/features/domains/Domains.tsx
  web/console/src/features/events/Events.tsx
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/features/network/SecurityGroups.tsx
  web/console/src/features/offerings/Offerings.tsx
  web/console/src/features/projects/Projects.tsx
  web/console/src/features/settings/GlobalSettings.tsx
  web/console/src/features/storage/SnapshotSchedules.tsx
  web/console/src/features/tools/Webhooks.tsx
  web/console/src/features/vpn/VPNManagement.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(ui): remove emoji, add SVG icons, implement Infrastructure Overview
  web/console/src/components/ui/EmptyState.tsx
  web/console/src/components/ui/Icons.tsx
  web/console/src/features/autoscale/AutoScale.tsx
  web/console/src/features/backup/Backups.tsx
  web/console/src/features/billing/UsageBilling.tsx
  web/console/src/features/compute/AffinityGroups.tsx
  web/console/src/features/dashboard/Dashboard.tsx
  web/console/src/features/domains/Domains.tsx
  web/console/src/features/events/Events.tsx
  web/console/src/features/infrastructure/Infrastructure.tsx
  web/console/src/features/network/SecurityGroups.tsx
  web/console/src/features/settings/GlobalSettings.tsx
  web/console/src/features/storage/SnapshotSchedules.tsx
  web/console/src/features/tools/Webhooks.tsx
  web/console/src/features/vpn/VPNManagement.tsx
Due: web-eslint, web-prettier

fix(ui): remove remaining emoji from Docs, WebShell, Accounts, Offerings, Events, Projects, Dashboard
  web/console/src/features/accounts/Accounts.tsx
  web/console/src/features/dashboard/Dashboard.tsx
  web/console/src/features/docs/Docs.tsx
  web/console/src/features/events/Events.tsx
  web/console/src/features/offerings/Offerings.tsx
  web/console/src/features/projects/Projects.tsx
  web/console/src/features/webshell/WebShell.tsx
Due: web-eslint, web-prettier

fix(network): refactor network module (P0-P2)
  internal/management/network/driver_ovn.go
  internal/management/network/handlers.go
  internal/management/network/ipam.go
  internal/management/network/service.go
  web/console/src/components/Layout.tsx
  web/console/src/features/network/Network.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

chore: remove redundant scripts, migrations, and slim init.sql
  migrations/002_add_metadata_event_quota_tables.sql
  migrations/004_add_iam_policies.sql
  migrations/005_add_instance_columns.sql
  migrations/006_add_volume_attachments_audit_logs.sql
  migrations/008_seed_default_flavors.sql
  scripts/deploy.sh
  scripts/fix_remote_db_schema.sh
  scripts/init-users.sh
  scripts/init.sql
  scripts/inspect_remote_db.sh
  scripts/migrate-add-routers.sql
  scripts/migrate-network-types.sql
  scripts/pre-commit.sh
  scripts/rollback.sh
  scripts/setup-pre-commit.sh
  scripts/verify-config.sh
Due: none

fix: resolve all lint and security scan issues
  cmd/vc-management/main.go
  cmd/vcctl/client.go
  cmd/vcctl/cluster.go
  internal/compute/network/bootstrap.go
  internal/compute/ovn_network.go
  internal/compute/service.go
  internal/compute/sysinfo.go
  internal/management/compute/image_storage.go
  internal/management/compute/service.go
  internal/management/host/install_script.go
  internal/management/host/service.go
  internal/management/host/ssh_deployer.go
  internal/management/monitoring/dashboard.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/driver_plugin.go
  internal/management/network/handlers.go
  internal/management/tools/service.go
  internal/management/vpn/service.go
  pkg/security/crypto.go
  web/console/src/features/network/Network.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix: resolve pre-commit and gosec CI failures
  .github/workflows/code-quality.yml
  internal/compute/sysinfo.go
  internal/management/host/ssh_deployer.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/driver_plugin.go
  internal/management/network/handlers.go
  internal/management/tools/service.go
  internal/management/vpn/service.go
  scripts/compute-entrypoint.sh
  web/console/src/features/network/Network.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
  golangci-lint: any of: \.go$
  web-eslint: any of: ^web/console/.*\.(ts|tsx|js|jsx)$
  web-prettier: any of: ^web/console/.*\.(ts|tsx|js|jsx|json|css|scss)$
