Repository Veritas-Calculus/vc-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, web-eslint, web-prettier

go-fmt:
  name: go fmt
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-imports:
  name: go-imports
  entry: bash -c 'export PATH="$HOME/go/bin:$PATH" && goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  entry: bash -c 'go mod tidy -compat=1.21'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'export CGO_ENABLED=0 && export PATH="$HOME/go/bin:$PATH" && golangci-lint run --config .golangci.yml --timeout=5m ./...'
  language: system
  pass_filenames: false
  verbose: true

web-eslint:
  name: Web ESLint
  entry: bash -c 'cd web/console && npm run lint -- --quiet'
  language: system
  pass_filenames: false

web-prettier:
  name: Web Prettier Check
  entry: bash -c 'cd web/console && npm run format -- --check'
  language: system
  pass_filenames: false

feat(p1): standardized error codes system (pkg/errors)
  internal/management/apidocs/spec.go
  internal/management/image/service.go
  internal/management/middleware/auth.go
  pkg/errors/codes.go
  pkg/errors/codes_test.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): multi-zone scheduling with strategies and zone capacity
  internal/management/scheduler/scheduler_test.go
  internal/management/scheduler/service.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): DNS as a Service (DNSaaS) module
  internal/management/dns/dns_test.go
  internal/management/dns/service.go
  internal/management/management.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): DNS as a Service — Designate-compatible redesign + UI
  internal/management/dns/dns_test.go
  internal/management/dns/service.go
  migrations/012_add_dns_tables.sql
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/dns/DNSManagement.tsx
  web/console/src/styles.css
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(p1): Object Storage — S3-compatible with Ceph RGW integration
  internal/management/management.go
  internal/management/objectstorage/service.go
  internal/management/objectstorage/service_test.go
  migrations/013_add_object_storage_tables.sql
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/objectstorage/ObjectStorage.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(p1): Orchestration Engine — template-based resource orchestration
  internal/management/management.go
  internal/management/orchestration/service.go
  internal/management/orchestration/service_test.go
  migrations/014_add_orchestration_tables.sql
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/orchestration/Orchestration.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(identity): implement full RBAC with roles, permissions, enforcement middleware
  internal/management/identity/handlers.go
  internal/management/identity/rbac_seed.go
  internal/management/identity/rbac_test.go
  internal/management/identity/service.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/components/ui/Modal.tsx
  web/console/src/features/compute/ConsoleViewer.tsx
  web/console/src/features/compute/Instances.tsx
  web/console/src/features/dns/DNSManagement.tsx
  web/console/src/features/network/Network.tsx
  web/console/src/features/objectstorage/ObjectStorage.tsx
  web/console/src/features/orchestration/Orchestration.tsx
  web/console/src/features/rbac/RBAC.tsx
  web/console/src/features/templates/Templates.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: implement federated identity with OIDC SSO
  internal/management/identity/federation.go
  internal/management/identity/federation_test.go
  internal/management/identity/handlers.go
  internal/management/identity/service.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/federation/Federation.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add data encryption service (LUKS2 + mTLS + compliance)
  internal/management/encryption/encryption_test.go
  internal/management/encryption/service.go
  internal/management/ha/ha_test.go
  internal/management/ha/service.go
  internal/management/kms/kms_test.go
  internal/management/kms/service.go
  internal/management/management.go
  internal/management/ratelimit/ratelimit_test.go
  internal/management/ratelimit/service.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/encryption/DataEncryption.tsx
  web/console/src/features/ha/HighAvailability.tsx
  web/console/src/features/kms/KeyManagement.tsx
  web/console/src/features/ratelimit/RateLimiting.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Container as a Service (CaaS) with Kubernetes + Calico/OVN networking
  internal/management/caas/caas_test.go
  internal/management/caas/service.go
  internal/management/management.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/kubernetes/Kubernetes.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Compliance Audit with tamper-proof audit trails and multi-framework compliance
  internal/management/audit/audit_test.go
  internal/management/audit/service.go
  internal/management/management.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/audit/ComplianceAudit.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Disaster Recovery with multi-site replication and failover orchestration
  internal/management/dr/dr_test.go
  internal/management/dr/service.go
  internal/management/management.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/dr/DisasterRecovery.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Bare Metal as a Service (BMaaS) with PXE provisioning and IPMI control
  internal/management/baremetal/baremetal_test.go
  internal/management/baremetal/service.go
  internal/management/management.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/baremetal/BareMetal.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Service Catalog and Self-Healing engine
  internal/management/catalog/catalog_test.go
  internal/management/catalog/service.go
  internal/management/management.go
  internal/management/selfheal/selfheal_test.go
  internal/management/selfheal/service.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/catalog/ServiceCatalog.tsx
  web/console/src/features/selfheal/SelfHealing.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add Service Registry, Config Center, and Event Bus
  internal/management/configcenter/configcenter_test.go
  internal/management/configcenter/service.go
  internal/management/eventbus/eventbus_test.go
  internal/management/eventbus/service.go
  internal/management/management.go
  internal/management/registry/registry_test.go
  internal/management/registry/service.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/features/platform/PlatformSettings.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: add i18n (EN/中文) and light/dark theme toggle
  web/console/package-lock.json
  web/console/package.json
  web/console/src/components/Layout.tsx
  web/console/src/i18n/index.ts
  web/console/src/i18n/locales/en.json
  web/console/src/i18n/locales/zh.json
  web/console/src/main.tsx
  web/console/src/stores/themeStore.ts
  web/console/src/styles.css
Due: web-eslint, web-prettier

fix: P0 emergency fixes — HTTP timeouts, compute retry, KMS panic, rate limit order
  .gitignore
  Dockerfile
  cmd/vc-compute/main.go
  cmd/vc-management/main.go
  configs/docker-compose.yaml.example
  docker-compose.yml
  internal/management/kms/service.go
  pkg/appconfig/config.go
Due: go-fmt, go-imports, golangci-lint

fix: P1 core hardening — DB pool, SSL, JWT validation, Gosec CI, Helm probes
  .github/workflows/code-quality.yml
  charts/vc-stack/Chart.yaml
  charts/vc-stack/templates/_helpers.tpl
  charts/vc-stack/templates/compute-daemonset.yaml
  charts/vc-stack/templates/configmap.yaml
  charts/vc-stack/templates/ingress.yaml
  charts/vc-stack/templates/management-deployment.yaml
  charts/vc-stack/templates/management-service.yaml
  charts/vc-stack/templates/pdb.yaml
  charts/vc-stack/templates/secret.yaml
  charts/vc-stack/templates/tests/test-connection.yaml
  charts/vc-stack/values.yaml
  internal/management/management.go
  pkg/database/database.go
Due: go-fmt, go-imports, golangci-lint

feat: P2 operability — request tracing, pprof, golang-migrate, vcctl db, integration tests
  cmd/vcctl/db.go
  cmd/vcctl/main.go
  go.mod
  go.sum
  internal/management/gateway/service.go
  pkg/database/migrate/runner.go
  tests/integration/database_test.go
  tests/integration/fixture.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

refactor: P3-01 Service interface-based module registry
  internal/management/module.go
  internal/management/module_registry.go
  internal/management/modules.go
  internal/management/routes.go
Due: go-fmt, go-imports, golangci-lint

refactor: P3-03 split gateway/service.go into focused files
  internal/management/gateway/handlers.go
  internal/management/gateway/topology.go
  internal/management/gateway/websocket.go
Due: go-fmt, go-imports, golangci-lint

ci: P3-04 release pipeline — Docker GHCR, Helm OCI, auto changelog
  .github/workflows/build.yml
Due: none

feat: P3-05/06 OpenAPI swagger UI + runtime feature flags
  Makefile
  internal/management/apidocs/service.go
  internal/management/feature_flags.go
Due: go-fmt, go-imports, golangci-lint

fix: gosec/lint remediation + documentation update
  cmd/vc-management/main.go
  internal/management/dr/service.go
  internal/management/encryption/service.go
  internal/management/identity/federation.go
  internal/management/module_registry.go
  internal/management/network/handlers.go
  internal/management/network/handlers_infra.go
  internal/management/objectstorage/service.go
  internal/management/selfheal/service.go
  internal/management/storage/volume_lifecycle.go
  readme.md
Due: go-fmt, go-imports, golangci-lint

fix(ci): resolve all 3 failing GitHub Actions workflows
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  cmd/vcctl/client.go
  internal/compute/firecracker/pool.go
  internal/compute/handler_firecracker_advanced.go
  internal/compute/service_scheduler.go
  internal/compute/vm/qemu/config.go
  internal/management/baremetal/service.go
  internal/management/gateway/webshell.go
  internal/management/identity/mfa.go
  internal/management/image/service.go
  internal/management/module_registry.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/handlers.go
  internal/management/network/handlers_infra.go
  internal/management/network/rbac_mtu_stats.go
  internal/management/notification/service.go
  internal/management/objectstorage/s3_enhancements.go
  internal/management/registry/service.go
  internal/management/storage/volume_lifecycle.go
  internal/management/tag/service.go
  monitoring/prometheus/prometheus.yml
  pkg/apiversion/version.go
  scripts/compute-entrypoint.sh
  web/console/tailwind.config.ts
  web/console/vite.config.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix(ci): exclude expected gosec rules for IaaS infrastructure code
  .github/workflows/code-quality.yml
Due: none

feat(hpc): add HPC module with K8s orchestration, Slurm integration, and frontend dashboard
  internal/management/caas/service.go
  internal/management/hpc/k8s_orchestrator.go
  internal/management/hpc/k8s_orchestrator_test.go
  internal/management/hpc/models.go
  internal/management/hpc/rbac.go
  internal/management/hpc/service.go
  internal/management/hpc/service_test.go
  internal/management/hpc/slurm_client.go
  internal/management/hpc/slurm_client_test.go
  internal/management/identity/rbac_seed.go
  internal/management/identity/rbac_test.go
  internal/management/management.go
  internal/management/module_registry.go
  internal/management/modules.go
  web/console/src/App.tsx
  web/console/src/components/Layout.tsx
  web/console/src/components/sidebarSections.ts
  web/console/src/features/hpc/GPUResources.tsx
  web/console/src/features/hpc/HPC.tsx
  web/console/src/features/hpc/HPCClusters.tsx
  web/console/src/features/hpc/HPCJobs.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: implement P4-P8 infrastructure HA, Kafka, observability, and advanced features
  .env.example
  cmd/vc-management/main.go
  configs/alertmanager/rules.yml
  configs/fluentbit/fluent-bit.conf
  configs/haproxy/haproxy.cfg
  configs/vc-management.yaml.example
  docker-compose.ha.yml
  docker-compose.kafka.yml
  go.mod
  go.sum
  internal/management/management.go
  internal/management/modules.go
  internal/management/region/service.go
  internal/management/scheduler/drs.go
  internal/management/scheduler/overcommit_test.go
  internal/management/scheduler/server_group.go
  internal/management/scheduler/service.go
  migrations/018_add_server_groups.sql
  pkg/appconfig/config.go
  pkg/circuitbreaker/breaker.go
  pkg/circuitbreaker/breaker_test.go
  pkg/dlock/lock.go
  pkg/dlock/lock_test.go
  pkg/metrics/metrics.go
  pkg/models/server_group.go
  pkg/mq/mq.go
  pkg/mq/mq_test.go
  pkg/pagination/pagination.go
  pkg/pagination/pagination_test.go
  pkg/vcredis/redis.go
  pkg/vcredis/redis_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement N7+N8 — managed Redis, NAT Gateway, ABAC, TiDB, Elasticsearch, Invoice
  internal/management/abac/service.go
  internal/management/abac/service_test.go
  internal/management/elasticsearch/service.go
  internal/management/elasticsearch/service_test.go
  internal/management/invoice/service.go
  internal/management/invoice/service_test.go
  internal/management/natgateway/service.go
  internal/management/natgateway/service_test.go
  internal/management/redis/service.go
  internal/management/redis/service_test.go
  internal/management/tidb/service.go
  internal/management/tidb/service_test.go
  web/console/src/App.tsx
  web/console/src/features/billing/Invoices.tsx
  web/console/src/features/compute/ManagedElasticsearch.tsx
  web/console/src/features/compute/ManagedRedis.tsx
  web/console/src/features/compute/ManagedTiDB.tsx
  web/console/src/features/iam/ABACPolicies.tsx
  web/console/src/features/network/NATGateways.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat: implement N9 — Stack Drift Detection and GPU/vGPU Scheduler
  internal/management/gpuscheduler/service.go
  internal/management/gpuscheduler/service_test.go
  internal/management/stackdrift/service.go
  internal/management/stackdrift/service_test.go
  web/console/src/App.tsx
  web/console/src/features/compute/GPUResources.tsx
  web/console/src/features/orchestration/StackDrift.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix: wire N7-N9 modules into registry + add airgap support
  internal/management/abac/service.go
  internal/management/elasticsearch/service.go
  internal/management/feature_flags.go
  internal/management/gpuscheduler/service.go
  internal/management/invoice/service.go
  internal/management/management.go
  internal/management/module_registry.go
  internal/management/modules.go
  internal/management/natgateway/service.go
  internal/management/redis/service.go
  internal/management/stackdrift/service.go
  internal/management/tidb/service.go
  pkg/airgap/airgap.go
  pkg/airgap/airgap_test.go
  scripts/airgap-bundle.sh
Due: go-fmt, go-imports, golangci-lint

fix: resolve route conflicts and update Dockerfile for latest build
  Dockerfile
  cmd/vc-management/main.go
  internal/management/routes.go
  internal/management/stackdrift/service.go
Due: go-fmt, go-imports, golangci-lint

fix: restore all module routes by reverting Phase 4 to blocklist
  internal/management/compute/service.go
  internal/management/routes.go
Due: go-fmt, go-imports, golangci-lint

fix: resolve health/metrics auth, Nginx header buffer, and global JWT parsing
  configs/nginx/vc-stack.conf
  internal/management/host/service.go
  internal/management/management.go
  internal/management/middleware/auth.go
  internal/management/monitoring/service.go
  internal/management/routes.go
Due: go-fmt, go-imports, golangci-lint

feat: auto-re-register compute node when management forgets it
  Dockerfile
  cmd/vc-compute/main.go
  internal/compute/controller_client.go
Due: go-fmt, go-imports, golangci-lint

refactor: remove all emoji from backend and frontend code
  internal/management/catalog/service.go
  web/console/src/components/ui/CommandPalette.tsx
  web/console/src/features/compute/DBaaS.tsx
  web/console/src/features/network/Firewall.tsx
  web/console/src/features/network/Topology.tsx
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
  golangci-lint: any of: \.go$
  web-eslint: any of: ^web/console/.*\.(ts|tsx|js|jsx)$
  web-prettier: any of: ^web/console/.*\.(ts|tsx|js|jsx|json|css|scss)$
