Repository Veritas-Calculus/vc-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, web-eslint, web-prettier

go-fmt:
  name: go fmt
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-imports:
  name: go-imports
  entry: bash -c 'export PATH="$HOME/go/bin:$PATH" && goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  entry: bash -c 'go mod tidy -compat=1.21'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'export CGO_ENABLED=0 && export PATH="$HOME/go/bin:$PATH" && golangci-lint run --config .golangci.yml --timeout=5m ./...'
  language: system
  pass_filenames: false
  verbose: true

web-eslint:
  name: Web ESLint
  entry: bash -c 'cd web/console && npm run lint -- --quiet'
  language: system
  pass_filenames: false

web-prettier:
  name: Web Prettier Check
  entry: bash -c 'cd web/console && npm run format -- --check'
  language: system
  pass_filenames: false

fix: remove extra trailing newline in Dockerfile
  Dockerfile
Due: none

security: fix 7 CodeQL code scanning alerts
  cmd/vc-management/main.go
  internal/compute/handlers.go
  internal/management/compute/image_storage.go
  internal/management/host/ssh_deployer.go
Due: go-fmt, go-imports, golangci-lint

security: fix remaining 4 CodeQL alerts (SSRF, SSH HostKey, command injection)
  internal/compute/handlers.go
  internal/management/host/ssh_deployer.go
Due: go-fmt, go-imports, golangci-lint

security: pin SSRF URLs to resolved IP to break CodeQL taint chain
  internal/compute/handlers.go
Due: go-fmt, go-imports, golangci-lint

feat: optimize network creation UX with bridge mapping detection and CIDR auto-generation
  internal/management/network/driver_ovn.go
  internal/management/network/driver_ovn_libovsdb.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/handlers.go
  internal/management/network/service.go
  web/console/src/features/network/Network.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

feat(network): implement full VM networking pipeline (P1-P7)
  internal/management/compute/models.go
  internal/management/compute/port_allocator.go
  internal/management/compute/service.go
  internal/management/management.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/floating_ip.go
  internal/management/network/handlers.go
  internal/management/network/port_allocator.go
  internal/management/network/security.go
  pkg/models/compute.go
  web/console/src/features/compute/Instances.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

chore(db): add migration for instance networking fields (ip_address, floating_ip)
  migrations/010_add_instance_networking_fields.sql
Due: none

fix(compute): deallocate network ports on instance delete
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

feat(frontend): display IP/FloatingIP from backend directly
  web/console/src/lib/api.ts
Due: web-eslint, web-prettier

feat(compute): KVM auto-detect, ARM64 support, QEMU binary detection
  internal/compute/vm/driver_qemu.go
  internal/compute/vm/qemu/config.go
  internal/compute/vm/qemu/driver.go
  pkg/database/migrate.go
Due: go-fmt, go-imports, golangci-lint

chore(docker): add OVN/QEMU deps, shared image volume, OVN config
  Dockerfile
  configs/nginx/vc-stack.conf
  docker-compose.yml
Due: none

fix(gateway): use /api/v1/ prefix for topology handler routes
  internal/management/gateway/service.go
Due: go-fmt, go-imports, golangci-lint

feat(frontend): network page improvements, layout/modal updates
  web/console/src/components/Layout.tsx
  web/console/src/components/ui/Modal.tsx
  web/console/src/features/network/Network.tsx
  web/console/src/features/templates/Templates.tsx
Due: web-eslint, web-prettier

fix(network): auto-create DHCP Options in EnsurePort (VM DHCP fix)
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/port_allocator.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): use instance.Name for compute node VM ID, add force-stop
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): increase power op timeout to 60s for graceful shutdown
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): use signal(0) polling instead of process.Wait for QEMU stop
  internal/compute/vm/qemu/driver.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): faster stop with ACPI -> SIGTERM -> SIGKILL cascade
  internal/compute/vm/qemu/driver.go
Due: go-fmt, go-imports, golangci-lint

fix(compute): use instance.Name for console ticket VM ID
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

feat: smart Console UI with start button + VNC security hardening
  Dockerfile
  docker-compose.yml
  internal/compute/vm/driver_qemu.go
  internal/compute/vm/qemu/config.go
  internal/compute/vm/qemu/template.go
  internal/compute/vm/vnc_port_allocator.go
  internal/management/compute/service.go
  internal/management/network/driver_ovn_nbctl.go
  internal/management/network/handlers.go
  scripts/compute-entrypoint.sh
  web/console/src/features/compute/ConsoleViewer.tsx
  web/console/src/lib/api.ts
Due: go-fmt, go-imports, golangci-lint, web-eslint, web-prettier

fix: persist VM config volumes + add reconstruct-on-start fallback
  docker-compose.yml
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

feat: EC2/OpenStack-compatible metadata service for cloud-init
  docker-compose.yml
  internal/compute/compute.go
  internal/compute/metadata/proxy.go
  internal/compute/vm/driver_qemu.go
  internal/management/compute/service.go
  scripts/compute-entrypoint.sh
Due: go-fmt, go-imports, golangci-lint

fix: dual-arch (amd64/aarch64) QEMU compatibility — all virtio
  internal/compute/qemu_manager.go
  internal/compute/vm/driver_qemu.go
  internal/compute/vm/qemu/config.go
  internal/compute/vm/qemu/driver.go
Due: go-fmt, go-imports, golangci-lint

fix(p0): add DB transactions, quota locking, migrations, and unit tests
  go.mod
  go.sum
  internal/management/compute/service.go
  internal/management/event/event_test.go
  internal/management/identity/identity_test.go
  internal/management/quota/quota_test.go
  internal/management/quota/service.go
  internal/management/scheduler/scheduler_test.go
  migrations/011_add_domain_vpn_backup_autoscale_usage_tables.sql
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

fix(nginx): use dynamic DNS resolution to prevent 502 after container restart
  configs/nginx/vc-stack.conf
Due: none

feat: integrate quota enforcement into instance lifecycle
  internal/management/compute/service.go
  internal/management/management.go
Due: go-fmt, go-imports, golangci-lint

fix: add AutoMigrate for quota tables and ensure schema exists at startup
  internal/management/quota/service.go
Due: go-fmt, go-imports, golangci-lint

fix(quota): add explicit column tag for VCPUs to prevent GORM v_cpus mismatch
  internal/management/quota/service.go
Due: go-fmt, go-imports, golangci-lint

fix(p0): transaction-protect volume attach/detach, add quota tracking, 19 compute tests
  internal/management/compute/compute_test.go
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

test: add host module tests covering registration, heartbeat, scheduling
  internal/management/host/host_test.go
Due: go-fmt, go-imports, golangci-lint

test: add network module tests covering zones, clusters, security groups, and utilities
  internal/management/network/network_test.go
Due: go-fmt, go-imports, golangci-lint

feat(ha): implement host evacuation for automatic failover
  internal/management/compute/compute_test.go
  internal/management/host/host_test.go
  internal/management/host/service.go
Due: go-fmt, go-imports, golangci-lint

feat(p0): separate storage service, HA evacuation, test isolation
  internal/management/management.go
  internal/management/storage/service.go
  internal/management/storage/storage_test.go
Due: go-fmt, go-imports, golangci-lint

feat(p0): implement live migration orchestration framework
  internal/management/compute/migration.go
  internal/management/compute/migration_test.go
  internal/management/compute/service.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): unified async task framework and resource tagging system
  internal/management/management.go
  internal/management/tag/service.go
  internal/management/tag/tag_test.go
  internal/management/task/service.go
  internal/management/task/task_test.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): notification/webhook system and request tracing middleware
  internal/management/management.go
  internal/management/middleware/tracing.go
  internal/management/middleware/tracing_test.go
  internal/management/notification/notification_test.go
  internal/management/notification/service.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): CloudStack-style image management enhancement
  internal/management/compute/image_test.go
  internal/management/compute/models.go
  internal/management/compute/service.go
  pkg/models/compute.go
Due: go-fmt, go-imports, golangci-lint

refactor: extract image service from compute to management/image
  internal/management/compute/service.go
  internal/management/image/image_test.go
  internal/management/image/service.go
  internal/management/management.go
Due: go-fmt, go-imports, golangci-lint

refactor: move all image operations (upload/import/storage) from compute to image service
  internal/management/compute/service.go
  internal/management/image/image_storage.go
  internal/management/image/service.go
  internal/management/management.go
Due: go-fmt, go-imports, golangci-lint

feat(p1): API versioning, OpenAPI 3.0 spec, and Swagger UI
  internal/management/apidocs/apidocs_test.go
  internal/management/apidocs/service.go
  internal/management/apidocs/spec.go
  internal/management/apidocs/swagger_ui.go
  internal/management/management.go
Due: go-fmt, go-imports, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
  golangci-lint: any of: \.go$
  web-eslint: any of: ^web/console/.*\.(ts|tsx|js|jsx)$
  web-prettier: any of: ^web/console/.*\.(ts|tsx|js|jsx|json|css|scss)$
